main {
  background-color: #fff;
  margin: 160px 20px;
  padding: 5px;
  border-radius: 25px;
  .graphics-desktop, .graphics-desktop-box {
    display: none;
  }
  .graphics-mobile {
    width: 100%;
    position: relative;
    img {
      max-width: 100%;
    }
  }
  .woman-mobile {
    position: absolute;
    z-index: 3;
    width: 80%;
    top: -135px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-animation: box-animation-woman 2.5s infinite ease-in-out;
            animation: box-animation-woman 2.5s infinite ease-in-out;
  }
  .pattern-mobile {
    position: absolute;
    width: 80%;
    z-index: 2;
    left: 50%;
    transform: translateX(-50%);
    -webkit-animation: pattern-animation 2.5s infinite ease-in-out;
            animation: pattern-animation 2.5s infinite ease-in-out;
  }
  @include respond-to('large') {
    display: flex;
    margin: 150px;
    padding: 0;
    .graphics {
      width: 50%;
      overflow: hidden;
    }
    .graphics-mobile, .woman-mobile, .pattern-mobile {
      display: none;
    }
    .graphics-desktop, .graphics-desktop-box {
      display: flex;
    }
    .graphics {
      width: 50%;
      overflow: hidden;
    }
    .graphics-desktop {
      width: 90%;
      position: relative;
      height: 100%;
    }
    .graphics-desktop-pattern {
      position: absolute;
      width: 200%;
      z-index: 97;
      left: -430px;
      top: -250px;
    }
    .graphics-desktop-box {
      position: absolute;
      width: 11%;
      z-index: 99;
      left: 9%;
      top: 100px;
      transform: translate(0, -390%);
      -webkit-animation: box-animation 3s infinite ease-in-out;
              animation: box-animation 3s infinite ease-in-out;
    }
    .graphics-desktop-woman {
      position: absolute;
      width: 100%;
      z-index: 98;
      left: -50px;
      top: 50%;
      transform: translate(0, -50%);
    }
  }
  .wrapper {
    padding-bottom: 50px;
    h1 {
      color: $very-dark-desaturated-blue;
      font-size: 30px;
      font-weight: 700;
      text-align: center;
      margin-top: 150px;
      @include respond-to('large') {
        margin: 50px 15px 30px;
        text-align: left;
      }
    }
    @include respond-to('large') {
      width: 50%;
    }
    details {
      summary {
        color: $very-dark-grayish-blue;
        background: #fff;
        border-radius: 5px;
        margin: 10px;
        padding: 10px 5px 0;
        cursor: pointer;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
      .accordionDrop {
        color: $dark-grayish-blue;
        padding: 10px 50px 10px 15px;
      }
      &[open] {
        summary {
          font-weight: 700;
        }
        img {
          transform: rotate(180deg);
        }        
      } 
    }
    hr {
      border: none;
      height: 1px;
      background-color: hsl(0, 0%, 90%);
      margin: 0 15px;
    }
  }
}